{% extends 'layouts/base.html' %}
{% block title %}{{ thing.name }} - {{ block.super }}{% endblock %}

{% block content %}

{% if social_accounts %}
<ul>
	{% for social_account in social_accounts %}
		<li>
			<a href="http://{{social_account.network}}.com/{{social_account.username}}">{{ social_account.network|title }}
			</a>
		</li>
		{% endfor %}
</ul>
{% endif %}

</ul>
<h1>{{ thing.name }}</h1>
<p>{{ thing.description }}</p>
<p>Price per day :{{ thing.price }}</p>
{% for upload in uploads %}
<img src="{{upload.image.url }}" alt="" />
{% endfor %}
<a href="{% url 'edit_thing' slug=thing.slug %}">Edit me!</a> 
{% endblock %}